./target
.classpath
.project
.settings

madjetpack-android/target
madjetpack-android/.classpath
madjetpack-android/.project
madjetpack-android/.settings
madjetpack-android/libs
madjetpack-android/.externalToolBuilders
madjetpack-android/gen

madjetpack-core/target
madjetpack-core/.classpath
madjetpack-core/.project
madjetpack-core/.settings

madjetpack-desktop/target
madjetpack-desktop/.classpath
madjetpack-desktop/.project
madjetpack-desktop/.settings
